/* reponsive */

@media screen and (min-width:375px) and (max-width:430px) {
    
    .path .header-path  {
        font-size: 12px;
    }
    .sub-path {
        font-size: 8px;
    }
    
    
    
}
@media screen and (min-width:431px) and (max-width:576px) {
    
    .path .header-path  {
        font-size: 12px;
    }
    .sub-path {
        font-size: 8px;
    }
}

@media screen and (min-width:577px) and (max-width:834px) {
    
    .path .header-path  {
        font-size: 16px;
    }
    .sub-path {
        font-size: 12px;
    }
}
@media screen and ( min-width:835px) and (max-width:1080px) {
   
    .path .header-path  {
        font-size: 32px;
    }
    .sub-path {
        font-size: 24px;
    }

}

@media screen and ( min-width:1080px) and (max-width:1439px) {
    
    .path .header-path  {
        font-size: 32px;
    }
    .sub-path {
        font-size: 25px;
    }

}
@media screen and (min-width:1440px) and (max-width:1919px) {
  
}
@media screen and ( min-width:1920px) {
    
    .path .header-path  {
        font-size: 32px;
    }
    .sub-path {
        font-size: 24px;
    }

}





.banner-about {
    position: relative;
}
.path {
    
    opacity: 0.6;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}

.path .header-path {
    
    font-weight: 600;
}
.sub-path {
    letter-spacing: 0.5rem;
    
    font-weight: 600;
}