@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mr+De+Haviland&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ============================================================================================= */

@media screen and (max-width:374px) {
    .logo img {
        width: 150%;
        
    }
    .group li a {
        display: none;
    }
    .slogan h3 {
        margin: 0;
        font-size: 14px;
    }
    .slogan p {
        margin: 0;
        font-size: 12px;
    }
    .support {
        display: none;
    }
    .product-sale h3 {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product-info .cart {
        padding: 5px 0;
    }
    .title-brand h3 {
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        margin: 0;
    }
    
    .title-brand span {
        font-weight: 600;
        font-size: 14px;
    }
    .list-product {
        gap: 20px;
    }
    .discount p {
        font-size: 12px;
    }
    .give-email {
        width: 60%;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        left: 20%;
        
        padding: 5px;
        background-color: #fff;
    }
    .list-product-selling {
        flex-direction: column;
        
    }
    .selling-product .col-12 {
        display: flex;
        gap: 10px;
    }
    .list-product-selling {
        flex-direction: column;
        
    }
   
    
    .selling-product .list {
        display: flex;
        
    }
    .selling-product .col-12 {
        display: flex;
        flex-direction: column;
        
    }
    .selling-product h3 {
        font-size: 18px;
    }
    
    
    
}

@media screen and (min-width:375px) and (max-width:430px) {
    .logo img {
        width: 150%;
        padding-left: 20px;
    }
    .group li a {
        display: none;
    }
    .bi-suit-heart-fill {
        display: none;
    }
    .icon {
        gap: 5px;
        margin: 8px 0;
    }

    .icon i {
        font-size: 18px;
    }
    .content-banner {
        top: 45px;
        right: 0;
    }
    .content-banner-2 {
        top: 50px;
        left: 10%;
    }

    .title-banner {
        font-size: 32px;
        line-height: 32px;
    }
    .sub-title {
        font-size: 18px;
    }
    .title-hours {
        font-size: 8px;
    }
    .title-minute {
        font-size: 8px;
    }
    .title-second {
        font-size: 8px;
    }
    .title-flash {
        justify-content: space-evenly;
    }
    .flash-sale {
        justify-content: space-evenly;
    }
    .hours {
        width: 30px;
        font-size: 14px;
    }
    .minutes {
        width: 30px;
        font-size: 14px;
    }
    .seconds {
        width: 40px;
        font-size: 14px;
    }
    .nav-item .nav-link {
        font-size: 16px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    }
    .offcanvas-title {
        font-size: 20px;
        color: #333;
        
    }
    .nav-item:hover {
        background: rgba(240, 190, 178, 0.9);
    }
    .p-20 {
        padding: 0;
    }
    .nav-item {
        padding: 0 20px;
    }
    .content {
        width: 200px;
        font-size: 8px;
    }
    .slogan h3 {
        margin: 0;
        font-size: 14px;
    }
    .slogan p {
        margin: 0;
        font-size: 12px;
    }
    .support {
        display: none;
    }

    .product-sale h3 {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product-info .cart {
        padding: 5px 0px 5px 0;
    }
    .title-brand h3 {
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        margin: 0;
    }
    
    .title-brand span {
        font-weight: 600;
        font-size: 14px;
    }
    .list-product {
        gap: 20px;
    }
    .discount .title-discount {
        position: absolute;
        top: 8%;
        left: 36%;
        font-size: 16px;
    }
    .discount p {
        font-size: 8px;
    }
    .sub-title-1 {
        position: absolute;
        top: 32%;
        left: 25%;
        
    
    }
    
    .sub-title-2 {
        position: absolute;
        top: 43%;
        left: 36%;
        
    }
    
    .give-email input {
        font-size: 12px;
    }
    .give-email {
        width: 100%;
        position: absolute;
        bottom: 8px;
        left: 23%;
        
        padding: 2px 10px;
        background-color: #fff;
    }
    .btn-give .btn-subscribe {
    
        font-size: 10px;
        
        padding: 3px ;
        
    }

    .list-product-selling {
        flex-direction: column;
        
    }
    .list-product-selling .title-selling {
        font-size: 14px;
        font-weight: 500;
    }
    .list-product-selling .price {
        font-size: 14px;
    }
   
    
    .selling-product .list {
        display: flex;
        gap: 5px;
    }
    .store {
        font-size: 14px;
    }
    .address {
        font-size: 12px;
    }
    .p {
        font-size: 12px;
    }
    #cart {
        display: none;
    }
   .share {
    display: block;
   }
   
   /* .icon a {
    margin: 8px 0px 0px 0px;
   }
   .icon i {
    margin: 8px 0px 0px 0px;
   } */

   
}

@media screen and (min-width:431px) and (max-width:576px) {
    #cart {
        display: none;
    }
    .share {
        display: block;
       }
   
       
   
    .header-fixed {
        padding-top: 10px;
    padding-bottom: 10px;
    }
    .logo img {
        width: 100%;
        padding-left: 20px;
    }
    .navbar {
        display: none;
    }
    /* .menu-toggle {
        display: none;
    } */
    .bi-suit-heart-fill {
        display: block;
    }
    /* .bi-list {
        display: none;
    } */
    .icon {
        /* gap: 10px; */
        align-items: baseline;
    }
    .icon a {
        font-size: 20px;
    }
    .title-hours {
        font-size: 8px;
    }
    .title-minute {
        font-size: 8px;
    }
    .title-second {
        font-size: 8px;
    }
    
    
    .title-flash {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .hours {
        width: 30px;
    }
    .minutes {
        width: 30px;
    }
    .seconds {
        width: 40px;
    }
    .title-flash {
        justify-content: space-evenly;
    }
    .flash-sale {
        justify-content: space-evenly;
    }
    .group li a {
        display: block;
        font-size: 11px;
        font-weight: 400;
    }
    .header .icon a {
        font-size: 15px;
        
    }
    .header .icon {
        gap: 5px;
        padding-right: 10px;
    }

    .content-banner {
        top: 40px;
        right: 20px;
    }
    .content-banner-2 {
        top: 25%;
        left: 10%;
    }

    .title-banner {
        font-size: 32px;
    }
    .sub-title {
        font-size: 18px;
    }
    .content {
        width: 230px;
        font-size: 10px;
    }

    .slogan h3 {
        margin: 0;
        font-size: 18px;
    }
    .slogan p {
        margin: 0;
        font-size: 14px;
    }
    .support {
        display: none;
    }
    .text-support h4{
        font-size: 14px;
        
    }
    .text-support p{
        font-size: 10px;
        margin: 0;
    }
    .product-sale h3 {
        font-size: 16px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .product-info .cart {
        padding: 10px 0px 10px 0;
    }
    .title-brand h3 {
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        margin: 0;
    }
    
    .title-brand span {
        font-weight: 600;
        font-size: 14px;
    }
    .list-product {
        gap: 20px;
    }
    .discount .title-discount {
        position: absolute;
        top: 5%;
        left: 38%;
        font-size: 18px;
        
    }
    
    .discount p {
        font-size: 10px;
    }

    .sub-title-1 {
        position: absolute;
        top: 25%;
        left: 22%;
        
    
    }
    
    .sub-title-2 {
        position: absolute;
        top: 36%;
        left: 36%;
        
    }
    .give-email input {
        font-size: 12px;
    }
    .give-email {
        width: 100%;
        
        bottom: 8px;
        left: 23%;
        
        padding: 5px 10px;
        background-color: #fff;
    }
    .btn-give .btn-subscribe {
    
        font-size: 10px;
        
        padding: 3px ;
        
    }
    .list-product-selling {
        flex-direction: column;
        
    }
    .selling-product .list {
        display: flex;
        gap: 5px;
    }.store {
        font-size: 18px;
    }
    .address {
        font-size: 14px;
    }
    .p {
        font-size: 14px;
    }
    
    

}
@media (width:576px) {
    .selling-product .col-12 {
        display: none;
        
    }
    /* .bi-list {
        display: none;
    } */
    .navbar {
        display: none;
    }
    /* .menu-toggle {
        display: none;
    } */
    .icon a {
        font-size: 20px;
    }
    #cart {
        display: none;
    }
    .share {
        display: block;
    }
     .product-info .cart {
        padding: 10px 20px 10px 0;
     }  
   
}

@media screen and (min-width:577px) and (max-width:834px) {
    .header-fixed {
        padding-top: 15px;
     padding-bottom: 15px;
    }
    .group li a {
        display: block;
        font-size: 13px;
        font-weight: 400;
    }
    /* .bi-list {
        display: none;
    } */
    /* .icon {
        gap: 10px;
    } */
    .icon a {
        font-size: 20px;
    }
    .navbar {
        display: none;
    }
    /* .menu-toggle {
        display: none;
    } */

    .content-banner {
        top: 25%;
        right: 10%;
    }
    .content-banner-2 {
        top: 30%;
        left: 10%;
    }


    .title-banner {
        font-size: 40px;
    }
    .sub-title {
        font-size: 22px;
    }
    .title-hours {
        font-size: 8px;
    }
    .title-minute {
        font-size: 8px;
    }
    .title-second {
        font-size: 8px;
    }
    
    
    .title-flash {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .hours {
        width: 30px;
    }
    .minutes {
        width: 30px;
    }
    .seconds {
        width: 40px;
    }
    .title-flash {
        justify-content: space-evenly;
    }
    .flash-sale {
        justify-content: space-evenly;
    }
    .content {
        width: 230px;
        font-size: 12px;
    }

    .slogan h3 {
        margin: 0;
        font-size: 20px;
    }
    .slogan p {
        margin: 0;
        font-size: 14px;
    }
    .support {
        display: block;
        
    }
    .text-support h4{
        font-size: 13px;
        
    }
    .text-support p{
        font-size: 10px;
        margin: 0;
    }
    .text-support h4{
        font-size: 14px;
        
    }
    .text-support p{
        font-size: 10px;
        margin: 0;
    }
    .product-sale h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .product-info .cart {
        padding: 10px 0px 10px 0;
    }
    .title-brand h3 {
        font-family: 'Playfair Display', serif;
        font-size: 14px;
        margin: 0;
    }
    
    .title-brand span {
        font-weight: 600;
        font-size: 14px;
    }
    .list-product {
        gap: 20px;
    }
    .discount .title-discount {
        position: absolute;
        top: 11%;
        left: 38%;
        font-size: 24px;
    }
    
    .discount p {
        font-size: 13px;
    }

    .sub-title-1 {
        position: absolute;
        top: 30%;
        left: 24%;
    
    }
    
    .sub-title-2 {
        position: absolute;
        top: 40%;
        left: 35%;
        
    }
    .give-email {
        width: 60%;
        
        bottom: 10px;
        left: 20%;
        
        padding: 5px;
        background-color: #fff;
    }
    .btn-give .btn-subscribe {
    
        font-size: 12px;
        
        padding: 10px;
        
    }
    .list-product-selling {
        gap: 8px;
        
    }
    #cart {
        display: none;
    }
    .share {
        display: block;
       }
    /* .product-info .cart  {
        bottom: 96px;
    } */
       
   
   
   
    
    
}

@media screen and (min-width:835px)

{
    #cart {
        display: block;
    }
    .share {
        display: none;
    }
    .bi-bag {
        padding-right: 13px;
    }   
   
    .header-fixed {
        padding-top: 20px;
    padding-bottom: 20px;
    }
    .group li a {
        display: block;
        font-size: 16px;
        font-weight: 400;
        justify-content: space-evenly;
    }   
    .icon a {
        font-size: 20px;
    }
    /* .bi-list {
        display: none;
    } */
    /* .icon {
        gap: 10px;
    } */
    .navbar {
        display: none;
    }
    /* .menu-toggle {
        display: none;
    } */

    .content-banner {
        top: 25%;
        right: 7%;
    }

    .content-banner-2 {
        top: 30%;
        left: 10%;
    }

    .title-banner {
        font-size: 60px;
    }
    .sub-title {
        font-size: 30px;
    }
    .title-hours {
        font-size: 16px;
        font-weight: 600;
    }
    .title-minute {
        font-size: 16px;
        font-weight: 600;
    }
    .title-second {
        font-size: 16px;
        font-weight: 600;
    }
    .flash-sale {
        padding-right: 10px;
    }
    
    .title-flash {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .hours {
        width: 70px;
        padding: 5px;
    }
    .minutes {
        width: 70px;
        padding: 5px;
    }
    .seconds {
        width: 70px;
        padding: 5px;
    }
    .title-flash {
        justify-content: space-evenly;
    }
    .flash-sale {
        justify-content: space-evenly;
    }
    .content {
        width: 400px;
        font-size: 16px;
    }
    .slogan h3 {
        margin: 0;
        font-size: 30px;
    }
    .slogan p {
        margin: 0;
        font-size: 18px;
    }
    .support {
        display: block;
    }
    .support .col-12 {
        gap: 20px;
    }
    .text-support h4{
        font-size: 22px;
        
    }
    .text-support p {
        font-size: 14px;
        
    }
    .product-sale h3 {
        padding-bottom: 32px;
    }

    .product-info .cart {
        padding: 5px 0px 5px 0;
    }
   
    .title-brand h3 {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        margin: 0;
    }
    
    .title-brand span {
        font-weight: 600;
        font-size: 20px;
    }
    .list-product {
        gap: 20px;
    }
    .discount .title-discount {
        position: absolute;
        top: 11%;
        left: 38%;
        font-size: 28px;
    }
    
    .discount p {
        font-size: 16px;
    }

    .sub-title-1 {
        position: absolute;
        top: 30%;
        left: 27%;
    
    }
    
    .sub-title-2 {
        position: absolute;
        top: 40%;
        left: 35%;
        
    }
    .give-email {
        width: 60%;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        left: 20%;
        
        padding: 5px;
        background-color: #fff;
    }
    .give-email input {
        width: 500px;
        
    }
    
    .btn-give .btn-subscribe {
    
        font-size: 12px;
        
        padding: 10px;
        
    }
    .list-product-selling {
        gap: 20px;
        
    }
   
   
}
@media screen and (min-width:1080px) {
    .header-fixed {
        padding-top: 20px;
    padding-bottom: 20px;
    }
    /* .bi-list {
        display: none;
    } */
    /* .icon {
        gap: 10px;
    } */
    .icon a {
        font-size: 20px;
    }
    .discount .title-discount {
        position: absolute;
        top: 11%;
        left: 38%;
        font-size: 34px;
    }
    .content-banner {
        top: 25%;
        right: 10%;
    }

    .title-banner {
        font-size: 90px;
    }
    .sub-title {
        font-size: 70px;
    }
    .title-hours {
        font-size: 24px;
        font-weight: 600;
    }
    .title-minute {
        font-size: 24px;
        font-weight: 600;
    }
    .title-second {
        font-size: 24px;
        font-weight: 600;
    }
    .flash-sale {
        padding-right: 10px;
    }
    
    .title-flash {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .hours {
        width: 70px;
        padding: 10px 30px;
    }
    .minutes {
        width: 70px;
        padding: 10px 30px;
    }
    .seconds {
        width: 70px;
        padding: 10px 30px;
    }
    .title-flash {
        justify-content: space-evenly;
    }
    .flash-sale {
        justify-content: space-evenly;
    }
    .content {
        width: 500px;
        font-size: 16px;
    }
    
    .sub-title-2 {
        position: absolute;
        top: 38%;
        left: 39%;
        
    }
    .give-email {
        width: 60%;
        justify-content: space-between;
        position: absolute;
        bottom: 30px;
        left: 20%;
        
        padding: 15px;
        background-color: #fff;
    }
    .btn-give .btn-subscribe {
    
        font-size: 12px;
        
        padding: 10px;
        
    }
    .title-selling {
        font-size: 16px;
    }
    .list-product-selling .price {
        font-size: 14px;
    }
    .list-product-selling {
        gap: 30px;
        width: 100%;
    }
    .product-info .cart {
        padding: 10px 0px 10px 0;
    }
   
    
}
@media screen and ( min-width:1280px) {
    .icon a {
        font-size: 20px;
    }
    .title-hours {
        font-size: 24px;
        font-weight: 600;
    }
    .title-minute {
        font-size: 24px;
        font-weight: 600;
    }
    .title-second {
        font-size: 24px;
        font-weight: 600;
    }
    .flash-sale {
        padding-right: 10px;
    }
    
    .title-flash {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .hours {
        width: 100px;
        padding: 10px 30px;
        font-size: 24px;
    }
    .minutes {
        width: 100px;
        padding: 10px 30px;
        margin-right: 10px;
        font-size: 24px;
    }
    .seconds {
        width: 100px;
        padding: 10px 30px;
        font-size: 24px;
    }
    .title-flash {
        justify-content: space-around;
    }
    .flash-sale {
        justify-content: space-around;
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-12 {
    /* width: 100%; */
    max-width: 100%;
}
.p-20 {
    padding: 0 20px;
}

.t-center {
    text-align: center;
}
.j-evely {
    justify-content: space-evenly;
}
.j-around {
    justify-content: space-around;
}
.header {
    position: relative;
    background: rgba(240, 190, 178);
    max-width: 100%;
    z-index: 1000;
}
/* header */


.group a:hover {
    border-bottom: 3px solid #E81D1D;
    transition: all 0.2s ease-in-out;
    transform: translateX(100);
}




.header-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-around;
    
    
}
.icon {
    font-size: 18px;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: space-evenly;
    
    padding-right: 40px;
}
.icon a {
    color: #333;
    
    
}
.group {
    justify-content: space-evenly;
    align-items: center;
}

.group li {
    list-style: none;
}

.group li a {
    text-decoration: none;
    color: #333;
    /* font-size: 14px; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}
.logo img {
    
    padding-left: 20px;
}

.banner-img {
    max-width: 100%;
    width: 100%;
}
/* banner */
.content-banner-2 {
    position: absolute;
}
.content-banner {
    
    position: absolute;
}
.title-banner {
    font-family: 'Mr De Haviland', cursive;
    
}
.sub-title {
    font-family: 'Josefin Sans', sans-serif;
    
}
.content {
    font-family: 'Josefin Sans', sans-serif;
    
}

/* slogan  */
.slogan {
    text-align: center;
    padding: 20px 0;
    background: #FEEBE7;
}

/* support */

.support {
    padding: 20px 0;
}

.support i {
    font-size: 30px;
}

.text-support {
    flex-direction: column;
}

.g-10 {
    gap: 10px;
}

.g-20 {
    gap: 20px;
}

/* product sale */

.product-sale h3 {
    text-align: center;
}

.product-info {
    /* position: relative; */
    text-align: center;
}
.product-info .img-product {
    position: relative;
}

.product-info .cart {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
}
.product-info img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    
}

.product-info .title-product {
    font-weight: 600;
    
}
.price {
    color: #767676;
    font-weight: 600;
}

.percent-sale {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 59px;
    height: 27px;
    border: 1px solid #CEA679;
    background: #FFFFFF;
    color: #CEA679;
}

.new {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 59px;
    height: 27px;
    border: 1px solid #999;
    background: #FFFFFF;
    color: #999;
}

/* brand */
.brands {
    padding: 20px 0;
    margin-top: 10px;
    background: #F0F0F0;

}
.title-brand {
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.list-brand img {
    width: 100%;
    height: 100%;
}

/* new products */
.product-new  {
    padding: 20px 0;
}

.product-new .new {
    border: 1px solid #E81D1D;
    border-radius: 10px;
    color: #E81D1D;
    font-weight: 500;
}
.product-new img {
    border-radius: 20px 20px 0px 0px;
}
.product-new h3 {
    text-align: center;
    padding-bottom: 20px;
}
.title-product {
    text-transform: uppercase;
}
.list-product {
    justify-content: center;
    padding: 0 20px;
}
/* discount */
.discount {
    position: relative;
}
.discount img {
    
    max-width: 100%;
    width: 100%;
}
.discount .title-discount {
   
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.discount p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
.sub-title-1 {
    
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}

.sub-title-2 {
    
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}
.give-email {
    width: 60%;
    justify-content: space-between;
    position: absolute;
    
    
    background-color: #fff;
}

.give-email input {
    border: none;
}
.btn-give .btn-subscribe {
    border: none;
    
    font-weight: 600;
    
    
}


.btn-give {
    background-color: #fff;
}

/* selling */
.selling-product {
    margin-bottom: 30px;
}

.list-product-selling img {
    width: 100%;
    height: 133px;
}
.list-product-selling .title-selling {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0em;
}
.list-product-selling .title {
    flex-direction: column;
}
.list-product-selling .product {
    align-items: center;
    height: 100%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    gap: 5px;
}
.list-product-selling {
    margin-top: 20px;
}
.selling-product h3 {
    text-align: center;
    margin: 30px 0 0 0;
}
.selling-product a {
    text-decoration: none;
    color: #333;
}

.selling-product a:hover {
    color: #333;
}
/* review */
.review-blog {
    padding-top: 30px;
    padding-bottom: 60px;
}
.review-blog h3 {
    text-align: center;
}

.review-blog img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.border {
    border-radius: 10px;
}
.title-review {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 10px;
}
.title-review a {
    text-decoration: none;
    color: #333;
}
.title-review a:hover {
    color: #333;
}
.more a {
    text-decoration: none;
    color: #333;
}
.more a:hover {
    color: #333;
}
.date {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.more {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 10px;
    margin-top: 10px;
    color: #CEA679;
    text-transform: uppercase;
    font-size: 14px;
}
.list-review {
    margin-top: 30px;
}
.list-review .col-6,
.list-review .col-lg-4 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-bottom: 10px;
}


/* footer  */
.footer {
    padding: 20px 0;
background-color: #333;


}

.footer .col-12  {
    padding-left: 20px;
}
.store {
    text-transform: uppercase;
    
    font-weight: 600;
    padding-bottom: 10px;
    color: #fff;
    margin-top: 20px;
}
.footer .address
{
    gap: 5px;
    color: #fff;
    
}
.open p {
    color: #fff;

}

.footer .open {
    gap: 5px;
    color: #fff;
}
.footer .icon-media {
    color: #fff;
}
.icon-media a {
    color: #fff;;
}

.cart a {
    text-decoration: none;
    color: #fff;
}


.hours {
color: #fff;
background-color: #333;

text-align: center;
}
.minutes {
    color: #fff;
    background-color: #333;
    
    text-align: center;
}
.seconds {
    color: #fff;
    background-color: #333;
    
    text-align: center;
}
/* navbar */
/* .navbar-toggler-icon {
    font-size: 10px;
}
.container-fluid {
    padding: 0; 
} */
.container-fluid .offcanvas {
    background: rgba(240, 190, 178, 0.9);
}

.offcanvas-bodyy .navbar-nav {
    padding: 0px 20px ;
}

.offcanvas-bodyy .navbar-nav li:hover {
    background: rgba(233, 152, 132, 0.9);
}
.navbar-toggler-icon {
    font-size: 20px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1;  */
    padding-top: 50px; 
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .main-product {
    
    gap: 20px;
    font-family: 'Josefin Sans', sans-serif;
    align-items: flex-end;
}
.list-relate {
    margin-bottom: 30px;
}
.quantilyy {
    gap: 30px;
    align-items: center;
}
.count-productt {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #402313;

}
.dash {
    text-decoration: none;
    color: #fff;
    background: #402313;
    
}
.plus {
    text-decoration: none;
    color: #fff;
    background: #402313;
    
}



.add-product a {
    text-decoration: none;
    color: #fff;
    
}
.add-cart {
    font-family: 'Josefin Sans', sans-serif;
    
    background: #402313;
   
    
}
.add-wishlist {
    font-family: 'Josefin Sans', sans-serif;
   
    background: #402313;
    
}
.add-product {
    margin-top: 60px;
    gap: 20px;
    
}
.quantily {
    font-size: 20px;
    margin-top: 40px;
    
}
.title-relate {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
}
.Related .product-info .cart {
    position: absolute;
    bottom: 65px;
}
.main-product {
    
    padding-left: 175px;
}
.detail-product .img-products {
    width: 80%;
    
}
.title {
    font-size: 18px;
    margin-bottom: 10px;

}

.price {
    font-size: 18px;
    margin-bottom: 10px;
}
.size {
    font-size: 18px;
    margin-bottom: 10px;
}
.type {
    font-size: 18px;
    margin-bottom: 20px;
}
.quantily {
    font-size: 20px;
    
    
}

.count-productt {
    width: 90px;
}
.dash {
    padding: 5px 5px 3px 5px;
}
.plus {
    padding: 5px 5px 3px 5px;
}
.add-product {
    margin-top: 20px;
    gap: 20px;
    
}


.add-cart {
    
    font-size: 16px;
    
    padding:  10px;
    
}
.add-wishlist {
    
    font-size: 16px;
    
    padding: 10px;
}

/* ======================================= */
.modal-body {
    
    margin-left: 18%;
        gap: 50px;
}
.img-products {
    width: 100%;
}
.titlel {
    font-weight: 600;
    margin-bottom: 10px;
}
#cart {
    background-color: #333;
    border: none;
}


/* thêm vào giỏ hàng */
.body-plus {
    display: flex;
    align-items: center;
}
.body-plus img {
    width: 100px;
}

.plus-cart {
    width: 50%;
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
.plus-cart table {
    width: 100%;
}

.plus-cart table thead tr th:first-child {
    text-align: left;
}

.plus-cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.price-total {
    text-align: right;
}
.price-total p {
    font-weight: bold;
}

.plus-cart table thead tr th:last-child {
    text-align: right;
}
.plus-cart table tbody tr td:last-child {
    text-align: right;
}

.plus-cart {
    position: fixed;
    height: 100vh;
    width: 400px;
    right: 0;
    top: 0;
    background-color: #e9c1ac;
    padding: 12px 20px;
    overflow-y: scroll;
    right: -500px;
    transition: all 0.3s ease-in-out;
    z-index: 1000;
}
.plus-cart button {
    margin: 12px;
    height: 30px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: tomato;
}
.icon i {
    cursor: pointer;
    font-size: 20px;
}

.plus-cart i {
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 20px;
    content: "\f62a";
    
    float: left;
}
.img-products {
    border-radius: 20px;
}
.offcanvas-title {
    color: #333;
}

.offcanvas-title:hover {
    color: #333;
}

table .name-cart {
    font-size: 12px;
    font-weight: 500;
}
table .prices {
    font-size: 14px;
}
.icon-media .bi-facebook {
    color: rgb(29, 155, 240);
    
}
.icon-media .bi-twitter {
    color: rgb(29, 155, 240);
}
.icon-media .bi-instagram {
    color: rgb(29, 155, 240);
}
.icon-media .bi-twitter {
    color: rgb(29, 155, 240);
}
#notifys {
    position: fixed;
    top: 90px;
    right: 10px;
}
#notifys {
    position: fixed;
    
}
.notify {
    background-color: rgb(0, 128, 0);
    padding: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    border-left: 6px solid rgb(0, 128, 0);
    overflow: hidden;
    animation: slide_show 2s ease forwards;
    margin-bottom: 10px;
    
}

.animate {
    background-color: rgb(199, 85, 9);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation:  countdown 3s ease forwards;
}
@keyframes countdown {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes slide_show {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(0%);

    }

    100% {
        transform: translateX(-10%);

    }
}
@keyframes slide_hide {
    0% {
        transform: translateX(-10%);
    }
    25% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-10%);

    }

    100% {
        transform: translateX(200%);

    }
}