@media screen and (min-width:375px) and (max-width:430px) {
    .cart-service a {
        font-size: 12px;
    }
    .img-service .cart-service {
        padding: 20px;
    }
    .path {
        font-size: 14px;
        
    }
}
@media screen and (min-width:431px) and (max-width:576px) {
    .cart-service a {
        font-size: 12px;
    }
    .img-service .cart-service {
        padding: 20px;
    }
    .path {
        font-size: 14px;
        
    }
}

@media screen and (min-width:577px) and (max-width:834px) {
    .service {
        margin-top: 30px;
    }
    .cart-service a {
        font-size: 12px;
    }
    .img-service .cart-service {
        padding: 10px;
    }
    .path {
        font-size: 22px;
        
    }
}
@media screen and (min-width:835px) and ( max-width:1140px) {
    .service {
        margin-top: 30px;
    }
    .cart-service a {
        font-size: 16px;
    }
    .img-service .cart-service {
        padding: 20px;
    }
    .path {
        font-size: 26px;
        
    }

}
@media screen and (min-width:1141px) and (max-width:1440px) {
    .service {
        margin-top: 30px;
    }
    .path {
        font-size: 32px;
        
    }
    .cart-service a {
        font-size: 16px;
    }
    .img-service .cart-service {
        padding: 20px;
    }
}
@media screen and (min-width:1441px) {
    .service {
        margin-top: 30px;
    }
    .path {
        font-size: 32px;
        
    }
    .cart-service a {
        font-size: 16px;
    }
    .img-service .cart-service {
        padding: 20px;
    }
}


.service {
    margin-bottom: 50px;
}
.img-service {
    position: relative;
    
}
.img-service .cart-service {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    
    
    
    

}

.wedding {
    
    background: #92BF7C;
}

.party {
    background: #CF90BD;
}
.concept {
    background: #77AFCA;
}
.cart-service a {
    text-decoration: none;
    color: #fff;
    
    text-transform: uppercase;
}
.cart-service a:hover {
    color: #fff;
}
.title-product a {
    text-decoration: none;
    color: #333;
}

.title-product {

    margin-top: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid rgb(235, 225, 225);
}
.img-1:hover {
    background-color: #92BF7C;
}
.img-2:hover {
    background: #CF90BD;
}
.img-3:hover {
    background: #77AFCA;
}
.title-product a:hover {
    color: #fff;
}
.product-info {
    margin-top: 20px;
}

/* banner */
.banner-about {
    position: relative;
}
.path {
    position: absolute;
    
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    text-align: center;
}
.header-path {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}
.sub-path {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    letter-spacing: 2px;
}
.group li a.hight-light {
    color: #E81D1D;
    border-bottom: 2px solid #E81D1D;
}