@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Mr+De+Haviland&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Parisienne&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@media screen and (max-width:374px) {
    
}

@media screen and ( min-width:375px) and (max-width:430px) {
    /* .icon {
        gap: 5px;
    } */
    .icon i .bi-cart-fill {
        font-size: 14px;
    }
    .header {
        padding: 0px 10px;
    }
    .list-product {
        gap: 5px;
    }
    .path {
        font-size: 14px;
        
       
    }
    .logo img {
        width: 100%;
    }
    #notifys {
        position: fixed;
        top: 60px;
        right: 5px;
    }
    .notify i {
        margin: 0 0px;
    }
    .mrt-40 {
        margin-top: 0;
    }
    .plus-cart {
        width: 100%;
    }
}

@media screen and ( min-width:431px) and (max-width:576px) {
    .icon {
        gap: 5px;
    }
    .header {
        padding: 10px;
    }
    .list-product {
        gap: 5px;
    }
    .path {
        font-size: 18px;
        
    }
    #notifys {
        position: fixed;
        top: 90px;
        right: 10px;
    }
    .notify i {
        margin: 0 10px;
    }
    .mrt-40 {
        margin-top: 40px;
    }
    .plus-cart {
        width: 100%;
    }
}



@media screen and (min-width:576px) and (max-width:720px) {
    
    .header {
        padding: 10px;
    }
    .group li a {
        font-size: 12px;
    }
    .header .logo img {
        padding: 0;
        width: 80%;
    }
    .list-product {
        gap: 10px;
    }
    .path {
        font-size: 22px;
        
    }
    #notifys {
        position: fixed;
        top: 90px;
        right: 10px;
    }
    .notify i {
        margin: 0 10px;
    }
    .mrt-40 {
        margin-top: 40px;
    }
    .plus-cart {
        width: 400px;
    }
    
}

@media screen and (min-width:720px) and (max-width:960px) {
    .header {
        padding: 20px;
    }
    .header .logo img {
        padding: 0;
    }
    .list-product {
        gap: 10px;
    }
    .path {
        font-size: 26px;
        
    }
    #notifys {
        position: fixed;
        top: 90px;
        right: 10px;
    }
    .notify i {
        margin: 0 10px;
    }
    .mrt-40 {
        margin-top: 40px;
    }
    .plus-cart {
        width: 400px;
    }
    
}
@media screen and (min-width:960px) and (max-width:1140px) {
    .header .logo img {
        padding: 0;
    }
    
    
    .header {
        padding: 20px;
    }
    .list-product {
        gap: 20px;
    }
    .path {
        font-size: 32px;
        
    }
    #notifys {
        position: fixed;
        top: 90px;
        right: 10px;
    }
    .notify i {
        margin: 0 10px;
    }
    .mrt-40 {
        margin-top: 40px;
    }
    .plus-cart {
        width: 40%;
    }
}
@media screen and (min-width:1140px) {
    .header .logo img {
        padding: 0;
    }
    
    .header {
        padding: 20px;
    }
    
    
    .menu-toggle .navbar-toggler-icon {
        font-size: 20px;
    }
    .icon i {
        font-size: 20px;
    }

    /* banner */
    .path {
        font-size: 32px;
        
    }
    .list-product {
        gap: 20px;
    }
    #notifys {
        position: fixed;
        top: 90px;
        right: 10px;
    }
    .notify i {
        margin: 0 10px;
    }
    .mrt-40 {
        margin-top: 40px;
    }
    .plus-cart {
        width: 40%;
    }

}

@media screen and (min-width:1141px) and (max-width:1440px) {
    .header .logo img {
        padding: 0;
    }
    
    .header {
        padding: 20px;
    }
    
    
    .menu-toggle .navbar-toggler-icon {
        font-size: 20px;
    }
    .icon i {
        font-size: 20px;
    }

    /* banner */
    .path {
        font-size: 32px;
        
    }
    .list-product {
        gap: 20px;
    }
    #notifys {
        position: fixed;
        top: 90px;
        right: 10px;
    }
    .notify i {
        margin: 0 10px;
    }
    .mrt-40 {
        margin-top: 40px;
    }
    .plus-cart {
        width: 40%;
    }
}
@media screen and (min-width:1441px) and (max-width:1920px) {
    .header .logo img {
        padding: 0;
    }
    
    .header {
        padding: 20px;
    }
    
    
    .menu-toggle .navbar-toggler-icon {
        font-size: 20px;
    }
    .icon i {
        font-size: 20px;
    }

    /* banner */
    .path {
        font-size: 32px;
        
    }
    .list-product {
        gap: 20px;
    }
    #notifys {
        position: fixed;
        top: 90px;
        right: 10px;
    }
    .notify i {
        margin: 0 10px;
    }
    .mrt-40 {
        margin-top: 40px;
    }
    .plus-cart {
        width: 40%;
    }
}

/*  header */


.header {
    position: relative;
    background: rgba(240, 190, 178);
    max-width: 100%;
    z-index: 1000;
    
}
.group li a.hight-light {
    color: #E81D1D;
    border-bottom: 2px solid #E81D1D;
}

.group a:hover {
    border-bottom: 3px solid #E81D1D;
    transition: all 0.2s ease-in-out;
    transform: translateX(100);
}




.header-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    justify-content: space-between;
    align-items: center;
    
    
}
.icon {
    font-size: 18px;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: space-evenly;
    
    
}
.icon a {
    color: #333;
    
    
}
.group {
    justify-content: space-evenly;
    align-items: center;
}

.group li {
    list-style: none;
}

.group li a {
    text-decoration: none;
    color: #333;
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;

}
.logo img {
    
    padding-left: 20px;
}
.icon i {
    cursor: pointer;
}

/* navbar */
.container-fluid .offcanvas {
    background: rgba(240, 190, 178, 0.9);
}

.offcanvas-bodyy .navbar-nav {
    padding: 0px 20px ;
}

.offcanvas-bodyy .navbar-nav li:hover {
    background: rgba(233, 152, 132, 0.9);
}


/* banner */
.banner-about {
    position: relative;
}
.path {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    text-align: center;
}
.header-path {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
}
.sub-path {
    font-family: 'Josefin Sans', sans-serif;
    color: #fff;
    letter-spacing: 2px;
}



/* list product  */
.g-10 {
    gap: 10px;
}
.g-20 {
    gap: 20px;
}

.title-fitter {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    margin-bottom: 30px;
}
.content-fitter {
    font-weight: 300;
}
.fitter {
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    margin-top: 20px;
    margin-right: 30px;

}
.list-fitter {
    margin-bottom: 10px;
    
}
.find-product ul {
    padding: 0;
}
.product-info {
    position: relative;
}
.img-product img {
    width: 100%;
}
.img-products {
    position: relative;
}
.img-product {
    position: relative;
}
.g-5 {
    gap: 5px;
}


.cart {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}
.cart a {
    color: #fff;
}
#cart {
    background-color: #333;
    border: none;
}
.title-product {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    margin-top: 5px;
}
.price {
    color: #767676;
    text-align: center;
}

.list-product {
    margin-top: 30px;
}
.d-flex {
    display: flex;
}

.modal-body .img-products {
    text-align: center;
}
.list-detail {
    margin: auto;
}

.titlel {
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
}
.prices span {
    color: #767676;
    
}
.prices {
    margin-bottom: 10px;
}
.size {
    margin-bottom: 10px;
}

.add-cart {
    font-family: 'Josefin Sans', sans-serif;
    padding: 10px;
    background: #402313;
   
    
}
.add-wishlist {
    font-family: 'Josefin Sans', sans-serif;
   padding: 10px;
    background: #402313;
    
}
.quantily {
    gap: 30px;
    align-items: center;
}
.count-product {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #402313;

}
.dash {
    text-decoration: none;
    color: #fff;
    background: #402313;
    padding: 2px 4px;
    
}
.plus {
    text-decoration: none;
    color: #fff;
    background: #402313;
    padding: 2px 4px;
}



.add-product a {
    text-decoration: none;
    color: #fff;
    
}

.add-product {
    margin-top: 30px;
    gap: 20px;
    
}
.quantily {
    font-size: 20px;
    margin-top: 20px;
    
}

/* them sp vao gio hang */

.body-plus {
    display: flex;
    align-items: center;
}
.body-plus img {
    width: 100px;
}
.plus-cart {
    /* width: 50%; */
    margin: auto;
    padding-top: 30px;
    text-align: center;
}
.plus-cart table {
    width: 100%;
}

.plus-cart table thead tr th:first-child {
    text-align: left;
}

.plus-cart table tr td {
    border-bottom: 1px solid #ddd;
    padding: 12px 0;
}
.price-total {
    text-align: right;
}
.price-total p {
    font-weight: bold;
}

.plus-cart table thead tr th:last-child {
    text-align: right;
}
.plus-cart table tbody tr td:last-child {
    text-align: right;
}

.plus-cart {
    position: fixed;
    height: 100vh;
    /* width: 400px; */
    right: 0;
    top: 0;
    background-color: #e9c1ac;
    padding: 12px 20px;
    overflow-y: scroll;
    right: -600px;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
}
.plus-cart button {
    margin: 12px;
    height: 30px;
    padding: 0 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    background-color: tomato;
}
.icon i {
    cursor: pointer;
    font-size: 20px;
}

.plus-cart i {
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 20px;
    content: "\f62a";
    
    float: left;
}


/* search products */
.btn-search {
   background-color: tomato;
   color: #ddd;
   text-transform: uppercase;
   border: none;
   padding: 5px;
}
.find-product {
    text-align: center;
    margin-top: 30px;
}

/* footer */
.footer {
    padding: 20px 0;
background-color: #333;
margin-top: 30px;


}

.footer .col-12  {
    padding-left: 20px;
}
.store {
    text-transform: uppercase;
    
    font-weight: 600;
    padding-bottom: 10px;
    color: #fff;
    margin-top: 20px;
}
.footer .address
{
    gap: 5px;
    color: #fff;
    
}
.open p {
    color: #fff;

}

.footer .open {
    gap: 5px;
    color: #fff;
}
.footer .icon-media {
    color: #fff;
}
.icon-media a {
    color: #fff;;
}
.j-evely {
    justify-content: space-evenly;
}
.t-center {
    text-align: center;
}
.img-product img {
    border-radius: 20px;
}
.img-products img {
    border-radius: 20px;
}
.sections ul {
    padding: 0;
}

.sections ul li {
    list-style: none;
}
.grid-products .product-info {
    padding: 0 10px;
    margin: 10px 0;
}

.page-2 {
    display: none;
}

.a {
    display: none;
}
.b {
    display: block;
}
.buy {
    text-decoration: none;
    color: #333;
}
.buy:hover {
    color: #ddd;
}
#notifys {
    position: fixed;
    
}
.notify {
    background-color: rgb(0, 128, 0);
    padding: 20px;
    border: none;
    border-radius: 6px;
    color: white;
    border-left: 6px solid rgb(0, 128, 0);
    overflow: hidden;
    animation: slide_show 2s ease forwards;
    margin-bottom: 10px;
    
}

.animate {
    background-color: rgb(199, 85, 9);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: 100%;
    animation:  countdown 3s ease forwards;
}
@keyframes countdown {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

@keyframes slide_show {
    0% {
        transform: translateX(100%);
    }
    25% {
        transform: translateX(-10%);
    }

    50% {
        transform: translateX(0%);

    }

    100% {
        transform: translateX(-10%);

    }
}
@keyframes slide_hide {
    0% {
        transform: translateX(-10%);
    }
    25% {
        transform: translateX(0%);
    }

    50% {
        transform: translateX(-10%);

    }

    100% {
        transform: translateX(200%);

    }
}
.cart.btn-carttt {
    background-color: #333;
    border: none;
    padding: 0;
}