/* reponsive shop */
@media screen and ( max-width:375px) {
    .banner h3 {
        
        top: 30%;
        left: 3%;
        
        font-size: 18px;
    }
    .banner .content-banner-1 {
        font-size: 10px;
        top: 45%;
        left: 3%;
    }
    
    .banner .content-banner-2 {
        font-size: 10px;
        top: 51%;
        left: 3%;
    }
}

@media screen and ( min-width:376px) and (max-width:430px) {
    
    .banner h3 {
        
        top: 35%;
        left: 3%;
        margin: 0;
        font-size: 18px;
    }
    .banner .content-banner-1 {
       font-size: 10px;
       top: 45%;
       left: 3%;
    }
    
    .banner .content-banner-2 {
        font-size: 10px;
        top: 51%;
        left: 3%;
        margin: 0;
    }
    .path {
        top: 8%;
        left: 30%;
    }
    
    .path .header-path {
        font-size: 16px;
        
    }
    .sub-path {
        
        font-size: 12px;
        
    }
}

@media screen and ( min-width:431px) and (max-width:576px) {
    .header .icon a {
        font-size: 15px;
        
    }
    .header .icon {
        gap: 5px;
        padding-right: 10px;
    }
    
    .banner h3 {
        
        top: 30%;
        left: 3%;
        
        font-size: 22px;
    }
    .banner  .content-banner-1 {
        font-size: 12px;
        top: 40%;
        left: 3%;
    }
    
    .banner .content-banner-2 {
        font-size: 12px;
        top: 46%;
        left: 3%;
    }
    .path {
        top: 12%;
        left: 30%;
    }
    
    .path .header-path {
        font-size: 20px;
        
    }
    .sub-path {
        
        font-size: 16px;
        
    }
    .fitter {
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .content-fitter {
        font-size: 11px;
        
    }
}

@media screen and (min-width:577px) and (max-width:843px) {
    .banner h3 {
        
        top: 30%;
        left: 3%;
        
        font-size: 32px;
    }
    .banner .content-banner-1 {
        font-size: 14px;
        top: 40%;
        left: 3%;
    }
    
    .banner .content-banner-2 {
        font-size: 14px;
        top: 46%;
        left: 3%;
    }
    .path {
        top: 19%;
        left: 38%;
    }
    
    .path .header-path {
        font-size: 20px;
        
    }
    .sub-path {
        
        font-size: 14px;
        
    }
    .title-fitter {
        font-size: 16px;
        
    }
    .content-fitter {
        font-size: 14px;
        
    }
    .push-product {
        display: block;
    }
    .fitter {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .content-fitter {
        font-size: 12px;
        
    }
    
}

@media screen and ( min-width:835px) and ( max-width:1080px) {
    .banner p {
        font-size: 18px;
    }
    .banner h3 {
        
        top: 30%;
        left: 3%;
        
        font-size: 44px;
    }
    .banner .content-banner-1 {
        font-size: 18px;
        top: 40%;
        left: 3%;
    }
    
    .banner .content-banner-2 {
        font-size: 18px;
        top: 45%;
        left: 3%;
    }
    .path {
        top: 21%;
        left: 38%;
    }
    .path .header-path {
        font-size: 32px;
        
    }
    .sub-path {
        
        font-size: 22px;
        
    }
    .title-fitter {
        font-size: 16px;
        
    }
    .content-fitter {
        font-size: 14px;
        
    }
    .push-product {
        display: none;
        display: flex;
    }
    .fitter {
        padding-top: 50px;
        padding-bottom: 40px;
    }

    
}

@media screen and ( min-width:1081px) and (max-width:1440px) {
    .banner p {
        font-size: 22px;
    }

    .banner h3 {
        
        top: 30%;
        left: 3%;
        
        font-size: 44px;
    }
    .banner .content-banner-1 {
        
        top: 40%;
        left: 3%;
    }
    
    .banner .content-banner-2 {
        
        top: 45%;
        left: 3%;
    }
    .path {
        top: 28%;
        left: 43%;
    }
    
    .path .header-path {
        font-size: 32px;
        
    }
    .sub-path {
        
        font-size: 22px;
        
    }
    .title-fitter {
        font-size: 16px;
        
    }
    .content-fitter {
        font-size: 16px;
        
    }
    .push-product {
        display: none;
        display: flex;
    }
    .fitter {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    
}

@media screen and (min-width:1440px) and (max-width:1919px) {
    .path {
        top: 28%;
        left: 43%;
    }
    .path .header-path  {
        font-size: 32px;
    }
    .sub-path {
        font-size: 24px;
    }

}
@media screen and ( min-width:1920px) {
    .path {
       top: 37%;
       left: 44%;
    
    }
    .path .header-path  {
        font-size: 32px;
    }
    .sub-path {
        font-size: 24px;
    }

}






.banner {
    position: relative;
}




.banner h3 {
    position: absolute;
    
    font-family: 'Parisienne', cursive;
    
}
.banner p {
    
    
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
.banner .content-banner-1 {
    position: absolute;
    
}

.banner .content-banner-2 {
    position: absolute;
    
}
.path {
    opacity: 0.6;
    color: rgb(97, 96, 96);
    text-align: center;
    position: absolute;
    color: #fff;
}

.path .header-path {
    
    font-weight: 600;
}
.sub-path {
    letter-spacing: 0.5rem;
    
    font-weight: 600;
}

/* search product */
.btn-search {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(36, 212, 212);
    background-color: #f3f3f3;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    
}
.find-product {
    text-align: center;
    
}
.search-product {
    font-family: 'Josefin Sans', sans-serif;
}

.title-fitter {
    
    font-weight: 400;
    margin-bottom: 25px;
}
.content-fitter {
    
    font-weight: 300;
}
.list-fitter {
    margin-bottom: 10px;
    align-items: center;
}
.fitter {
    /* padding-top: 50px;
    padding-bottom: 40px; */
    border-bottom: 1px solid #444;
}
.border-none {
    border: none;
}
.pl-20 {
    padding-right: 20px;
}

.list-product img {
    width: 100%;
}
.mt-50 {
    margin-top: 50px;
}
.list-product {
    margin-bottom: 20px;
}

.find-product {
    margin-top: 30px;
}
.find-product ul {
    margin: 0;
    padding: 0;
}
.list-search {
    display: none;
    border-bottom: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    
    
}

.show {
    display: block;
}
.list-search a {
    text-decoration: none;
    color: #333;
    padding: 5px;
}
.list-search a:hover {
    color: #fff;
    background-color: #444;
}