.content-sign {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    
}

.container {

}

.title {
    border-bottom: 1px solid #f0f0f0;
    padding: 0px 40px;
    font-weight: 500;
}
#form {
    padding: 20px 40px ;
    width: 400px;
    border: 1px solid #f0f0f0;
}
.form-control {
    /* margin-bottom: 10px; */
    padding-bottom: 10px;
    position: relative;
    border: none;
    height: 100px;
    
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}
.form-control.success input {
    border-color: #2ecc2e;
}
.form-control.error input {
    border-color: #e74c3c;
}
.form-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    /* margin-bottom: 10px; */
}

.form-control.success i.bi-check-lg {
    visibility: visible;
    color: #2ecc71;
}
.form-control.error i.bi-exclamation {
    visibility: visible;
    color: #e74c3c;
}
.form-control i {
    position: absolute;
    top: 45px;
    right: 20px;
    visibility: hidden;
}
.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 15px;
}
.form-control.error small {
    visibility: visible;
    color: #e74c3c;
}
#form button {
    background-color: #B53D3D;
    color: #f0f0f0;
    border: none;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}
